/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
	cursor: pointer;
}
li a:hover  {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.btn {
    padding: 10px 38px;
    margin-top: 17px;
    color: #1D6154;
    border: 1px solid #1D6154;
    border-radius: 60px;
    background-color: transparent;
    width: fit-content;
    font-family: "Work Sans";
    font-size: 16px;
	font-weight: 700;
}
.filter_container {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}
.filter_container .btn {
	margin-right: 10px;
}
.filter_container .selected {
	color: white;
	background-color: #1D6154;
}
.filter_container:last-child {
	margin-right: 0;
}
a {
	text-decoration: none;
	color: black;
}




/*** EDITION BAR ***/
.edition_bar {
	justify-content: center;
	align-items: center;
	width: 100vw;
	background-color: black;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: flex;
	padding: 10px 0;
}
.edition_bar .btn {
	margin-top: 0;
	color: black;
	border: white;
	background-color: white;
	margin-left: 13px;
}
.edition_mode {
	display: flex;
	align-items: baseline;
}
.edition_bar .edition_mode i, .edition_mode p{
	color: white;
	font-size: 16px;
	margin-right: 9px;
}
.edition_push {
	height: 50px;
}



.no_display {
	display: none!important;
}



/**** MODULE ****/

.module {
	top: 0;
	left: 0;
	height: 100vh;
	position: fixed;
	z-index: 99;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.module .window {
	box-sizing: border-box;
	width: 630px;
	background-color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 100px 50px 100px;
	border-radius: 10px;
	margin-top: 50px;
}
.window .title {
	color: black;
	font-size: 26px;
	font-weight: 400;
	font-size: "Work Sans";
	margin-bottom: 46px;
}
.window .sepationbar {
	height: 2px;
	width: 100%;
	background-color: #b3b3b3;
	margin: 38px 0;
}
.module .window .photo_container {
	display: flex;
	gap: 10px;
	flex-flow: row wrap;
	object-fit:scale-down;
}
.module .window .photo_container figure img {
	height: 110px;
	width: 78px;
	overflow: hidden;
}
.module .window .photo_container figure {
	margin-bottom: 10px;
	text-align: start;
}

.window .btn {
	margin: 0 auto 23px auto;
	background-color: #1D6154;
	color: white;
	font-weight: 700px;
	padding: 10px 60px;
	font-family: "Syne";
	font-size: 14px;
}
.window .deleteGallery {
	color: #D65353;
}
.closeModule {
	font-size: 20px;
	padding: 3px;
	position: relative;
	top: -35px;
	left: 280px;
}



.trashIconContainer {
	height: 17px;
	width: 17px;
	background-color: black;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 4px;
	left: 57px;
	margin-bottom: -17px;
}

.trashIconContainer .trashIcon {
	color: white;
	font-size: 9px;
} 

.addphoto_block .photo_drop {
	text-align: center;
}

.addphoto_block .photo_drop{
	width: 420px;
	background: #E8F1F7;
	border-radius: 3px;
	margin-bottom: 30px;
}
.addphoto_block .photo_drop .img_icon {
	font-size: 46px;
	color: #B9C5CC;
	margin: 28px 0 21px 0;
}
.addphoto_block .photo_drop .addbtn {
	border-radius: 50px;
	padding: 10px 33px;
	font-family: "Work Sans";
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #306685;
	background: #CBD6DC;
	width: fit-content;
	margin: 0 auto 7px auto;
}
.addphoto_block .photo_drop .file_type_info {
	font-family: "Work Sans";
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0em;
	color: #444444;
	padding-bottom: 19px;
	display: block;
}
.addphoto_block .photo_form {
	display: flex;
	flex-direction: column;
	text-align: start;
	box-sizing: border-box;
}
.addphoto_block .photo_form .entry2 {
	margin-bottom: 21px;
}

.addphoto_block .photo_form .form_title {
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	color: #3D3D3D;
	margin-bottom: 10px;
}
.addphoto_block .photo_form .form_block {
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	border: none;
}

.addphoto_block .btn {
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0em;
	background: #A7A7A7;
	border-radius: 60px;
	border: none;
	padding: 10px 80px;
	margin: auto;
}

.addphoto_block .selected {
	color: white;
	background: #1D6154;
}

.window .back_arrow {
	font-size: 18px;
	position: relative;
	top: -58px;
	left: -276px;
}



#photo_input {
	display: block;
	position: absolute;
	width: 420px;
	height: 170px;
	opacity: 0;
}




.uploadedImg {
	height: 170px;
	width: 130px;
	margin-bottom: -2px;
	object-fit: cover;
}

.edit_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
}
.edit_btn p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}
.edit_btn i {
	margin-right: 8px;
}

figure .edit_btn_photo {
	height: 0;
	width: 0;
	position: relative;
	top: 20px;
	left: 94px;
}
.edit_btn_projet:hover, .addPhoto, .closeModule, .login_button {
	cursor: pointer;
}
figure .edit_btn_photo p {
	margin: 0!important;
}

.projet_title_container {
	display: flex;
	justify-content: center;
}
.projet_title_container .edit_btn {
	position: relative;
	width: 0px;
	height: 0px;
	top: 19px;
	left: 70px;
}

.addmargin {
	margin-bottom: 62px!important;
}